<div id="<%= dom_id phone %>">
  <p>
    <strong>Name:</strong>
    <%= phone.name %>
  </p>
  <p>
    <strong>Brand:</strong>
    <%= phone.brand %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= phone.price %>
  </p>
  <p>
    <%= link_to "Show this phone", phone %>
  </p>
</div>
